<div class="container">

<br><br><br>

    <!-- [1] YOU CANCEL PAYMENT ON PAYPAL WEBSITE-->
    <div class="container" ng-show="showValue==0">

        <section id="choosdse">
            <div class="col-md-12 col-xs-12 text-center">
                    <div class="alert alert-warning" role="alert">
                        <h4> We are sorry that you didn't proceed paying for insurance that you selected, hope to see you next time.
                            <br><br>
                            Travel Safe, Inc</h4>
                    </div>
                    <!--<img src="imgs/ppl.png" >-->
            </div>
        </section>

    </div>


    <!-- [2] YOU PROCEED  -  choos to buy or not -->
    <div class="container" ng-show="showValue==1">
        <section id="chooasdasdse">
            <div class="col-md-12 col-xs-12 text-center">
                    <div class="alert alert-info" role="alert">
                        <h4>
                            Vase osiguranje
                            <br>
                            {{travelInsurance}}
                        <br>
                        <br>
                        <button type="button" class="btn btn-success" ng-click="execute()">Buy Insurance</button>
                        <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                            </h4>
                    </div>
                    <!--<img src="imgs/ppl.png" >-->
            </div>
        </section>



    </div>


    <!-- [3] SUCCESS MESSAGE -->
    <div class="container" ng-show="showValue==2">
        <section id="choose">
            <div class="col-md-12 col-xs-12 text-center">
                    <div class="alert alert-success" role="alert">
                    <h4>Thank you for buying insurance. Have a safe trip!</h4>
                        </div>
                    <img src="imgs/ppl.png" >
            </div>
        </section>
    </div>


</div>