<!-- TODO: If email for carrier is needed add that input field somewhere in this page -->

<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Detalji za osobu {{person.idx + 1}}</h4>
</div>

<div class="modal-body modal-edit-person" id="modal-body">

    <form name="personDetailsForm">

        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon input-field" id="first-name-desc" translate="firstName"></span>
                    <input type="text" class="form-control" placeholder = "{{'firstNamePlchld' | translate}}" required
                           id="first-name" name="firstName" aria-describedby="first-name-desc" ng-model="person.name">
                </div>
            </div>
            <div class="col-md-4 error-div" ng-messages="personDetailsForm.firstName.$error">
                <div ng-message="required"><span translate="fieldRequired"></span></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon input-field" id="last-name-desc" translate="lastName"></span>
                    <input type="text" class="form-control" placeholder = "{{'lastNamePlchld' | translate}}" required
                           id="last-name" name="lastName" aria-describedby="last-name-desc" ng-model="person.surname">
                </div>
            </div>
            <div class="col-md-4 error-div" ng-messages="personDetailsForm.lastName.$error">
                <div ng-message="required"><span translate="fieldRequired"></span></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon input-field" id="pin-desc" translate="personalID"></span>
                    <input type="text" class="form-control" placeholder = "{{'personalIDPlchld' | translate}}" required ng-minlength="3"
                           id="pin" name="pin" aria-describedby="pin-desc" ng-model="person.pin">
                </div>
            </div>
            <div class="col-md-4 error-div" ng-messages="personDetailsForm.pin.$error">
                <div ng-message="required"><span translate="fieldRequired"></span></div>
                <div ng-message="minlength"><span translate="pinMinLengthError"></span></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8">
                <div class="date-of-birth-container" translate="dateOfBirth"></div>
                <p class="input-group">
                    <input type="text" class="form-control"
                           uib-datepicker-popup="{{format}}"
                           name="dateOfBirth"
                           ng-model="person.dateOfBirth"
                           is-open="popupDOBP.opened"
                           datepicker-options="dateOptions"
                           max-date="maxBornDate"
                           ng-required="true"
                           close-text="{{'close' | translate}}"
                           alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDateOfBirthPicker()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-md-4 error-div" ng-messages="personDetailsForm.dateOfBirth.$error">
                <div ng-message="required"><span translate="fieldRequired"></span></div>
                <div ng-message="date"><span translate="invalidDateErrorMessage"></span></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon input-field" id="passport-number-desc" translate="passportNumber "></span>
                    <input type="text" class="form-control" placeholder="{{'passportNumberPlchld' | translate}}" required
                           id="passport-number" name="passportNumber" aria-describedby="passport-number-desc" ng-model="person.passportNumber">
                </div>
            </div>
            <div class="col-md-4 error-div" ng-messages="personDetailsForm.passportNumber.$error">
                <div ng-message="required"><span translate="fieldRequired"></span></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon input-field" id="address-desc" translate="address"></span>
                    <input type="text" class="form-control" placeholder="{{'addressPlchld' | translate}}" required
                           id="address" name="address" aria-describedby="address-desc" ng-model="person.address">
                </div>
            </div>
            <div class="col-md-4 error-div" ng-messages="personDetailsForm.address.$error">
                <div ng-message="required"><span translate="fieldRequired"></span></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon input-field" id="phone-number-desc" translate="phoneNumber"></span>
                    <input type="text" class="form-control" placeholder="{{'phoneNumberPlchld' | translate}}" required
                           id="phone-number" name="phoneNumber" aria-describedby="phone-number-desc" ng-model="person.phoneNumber">
                </div>
            </div>
            <div class="col-md-4 error-div" ng-messages="personDetailsForm.phoneNumber.$error">
                <div ng-message="required"><span translate="fieldRequired"></span></div>
            </div>
        </div>

    </form>

</div>

<div class="modal-footer">
    <button class="btn btn-info" type="button" translate="close" ng-click="dismissModal(personDetailsForm)"></button>
</div>