<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a translate="home" ui-sref="home"></a></li>
        <li><a translate="insurances" ui-sref="home"></a></li>
        <li><a href="#choose" class="page-scroll" translate="buyInsurance" ></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#whatwedo" class="page-scroll" translate="about" ></a></li>
        <li><a href="#footer" class="page-scroll" translate="contact" ></a></li>
        <li><a ng-click="changeCurrentLanguage('en')" translate="english"></a></li>
        <li><a ng-click="changeCurrentLanguage('sr')" translate="serbian"></a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
